#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.game-board {
  background-color: #e6e3e3;
  color: black;
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

.game-container {
  justify-content: center;
  align-items: center;
}

.grid-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #242424 solid;
}

.create-or-join-game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}